header{
  height: 540px;
  width: 100%;
  background-image: url(../../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom;
}
.navigation{
  position: relative;
  height: 80px;
  img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header__title{
  padding: 60px 0;
  text-align: center;
}

@media only screen and (min-width : 768px) {
  header{
    background-image: url(../../images/desktop/image-header.jpg);
  }
  
  
}