header{
  height: 540px;
  width: 375px;
  background-image: url(../../images/mobile/image-header.jpg);
  background-size: cover;
  
}
.navigation{
  position: relative;
  height: 80px;
  img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header__title{
  padding: 60px 0;
  text-align: center;
}