* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Neutral --- */
/* --- primary --- */
body {
  font-family: "Barlow", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-weight: bolder;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  color: white;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
  color: #23303e;
}

/* (A) BREAK INTO VERTICAL MENU */
#hamitems a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid #333;
}

/* (B) SHOW HAMBURGER ICON */
#hamburger {
  display: none;
}

#hamnav label {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems {
  display: none;
}

#hamnav input:checked ~ #hamitems {
  display: block;
}

@media screen and (min-width: 768px) {
  /* (A) WRAPPER */
  #hamnav {
    width: 100%;
    background: #000;
  }

  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems {
    display: flex;
  }

  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  #hamitems a:hover {
    background: #af0d0d;
  }

  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger {
    display: none;
  }
}
.mantras {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mantras img {
  width: 100%;
}
.mantras__card {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  height: 440px;
}
.mantras p {
  size: 1.4rem;
  line-height: 1.8em;
  height: 180px;
}
.mantras__btn {
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  position: relative;
  color: #23303e;
}
.mantras__btn::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 120px;
  border-radius: 5px;
  background-color: #fad400;
  opacity: 0.3;
  z-index: -5;
  top: 12px;
  right: 50%;
  transform: translateX(50%);
}

.metiers__card {
  position: relative;
  height: 600px;
}
.metiers img {
  top: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}
.metiers__title {
  top: 390px;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.9rem;
}
.metiers__text {
  top: 460px;
  line-height: 1.5em;
}
.metiers .centred {
  position: absolute;
  z-index: 5;
  left: 15px;
  right: 15px;
}

.testimonials {
  padding: 0 30px;
}
.testimonials__title {
  font-family: "Fraunces", serif;
  font-size: 1.1rem;
  height: 120px;
  padding-top: 70px;
  letter-spacing: 0.25rem;
}
.testimonials__card {
  letter-spacing: -0.05rem;
}
.testimonials__picture {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  margin: 30px 0;
}
.testimonials__text {
  font-size: 1.2rem;
  color: #5a636c;
  line-height: 1.6em;
  margin-bottom: 35px;
}
.testimonials__name {
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 5px;
}
.testimonials__function {
  margin-bottom: 50px;
}

.gallery {
  width: 375px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery img {
  width: 100%;
}

header {
  height: 540px;
  width: 375px;
  background-image: url(../../images/mobile/image-header.jpg);
  background-size: cover;
}

.navigation {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__title {
  padding: 60px 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 375px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
