* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Neutral --- */
/* --- primary --- */
body {
  font-family: "Barlow", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-weight: bolder;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  color: white;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
  color: #23303e;
}

#hamburger {
  display: none;
}

#hamitems {
  display: none;
}

#hamnav input:checked ~ #hamitems {
  display: block;
  position: absolute;
  padding: 20px 0;
  width: 325px;
  height: 300px;
  background-color: white;
  right: 25px;
  top: 100px;
}

#hamnav label {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#hamitems .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  line-height: 55px;
}
#hamitems a {
  text-decoration: none;
  font-size: 1.3rem;
  width: 140px;
  height: 60px;
  border-radius: 30px;
}
#hamitems a:hover {
  background-color: #fad400;
}

.mantras {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mantras img {
  width: 100%;
}
.mantras__card {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  height: 440px;
}
.mantras p {
  size: 1.4rem;
  line-height: 1.8em;
  height: 180px;
}
.mantras__btn {
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  position: relative;
  color: #23303e;
}
.mantras__btn::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 120px;
  border-radius: 5px;
  background-color: #fad400;
  opacity: 0.3;
  z-index: -5;
  top: 12px;
  right: 50%;
  transform: translateX(50%);
}

@media only screen and (min-width: 768px) {
  .mantras {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mantras img {
    width: 50%;
  }
  .mantras__card {
    width: 50%;
  }
  .mantras--reverse {
    flex-direction: column-reverse;
  }
}
.metiers__card {
  height: 600px;
  width: 100%;
  background-size: cover;
}
.metiers--graphDesign {
  background-image: url(../../images/mobile/image-graphic-design.jpg);
  color: #25564b;
}
.metiers--photography {
  background-image: url(../../images/mobile/image-photography.jpg);
  color: #19536b;
}
.metiers__title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.9rem;
  padding-bottom: 30px;
  padding-top: 400px;
}
.metiers__text {
  line-height: 1.5em;
}

.testimonials {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}
.testimonials__title {
  font-family: "Fraunces", serif;
  font-size: 1.1rem;
  height: 120px;
  padding-top: 70px;
  letter-spacing: 0.25rem;
}
.testimonials__card {
  letter-spacing: -0.05rem;
  width: 325px;
  border: 3px solid green;
  margin: auto;
}
.testimonials__picture {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  margin: 30px 0;
}
.testimonials__text {
  font-size: 1.2rem;
  color: #5a636c;
  line-height: 1.6em;
  margin-bottom: 35px;
}
.testimonials__name {
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 5px;
}
.testimonials__function {
  margin-bottom: 50px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery img {
  width: 100%;
}

header {
  height: 540px;
  width: 100%;
  background-image: url(../../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom;
}

.navigation {
  position: relative;
  height: 80px;
}
.navigation img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header__title {
  padding: 60px 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header {
    background-image: url(../../images/desktop/image-header.jpg);
  }
}
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  min-width: 375px;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
}
footer {
  position: relative;
  color: #458c7e;
  background-color: #91d4c6;
  width: 100%;
  height: 350px;
}

.footer__logo {
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer__logo img {
  width: 165px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__links a {
  text-decoration: none;
  color: #458c7e;
}

.footer__socialIcons {
  margin-top: 100px;
}
.footer__socialIcons i {
  font-size: 1.5rem;
  width: 50px;
}

/*# sourceMappingURL=style.css.map */
