#hamburger { display: none; } //hide checkbox
#hamitems { display: none;} //hide cont item
#hamnav input:checked ~ #hamitems {
  display: block;
  position: absolute;
  width: 325px;
  background-color:white;
  margin: 25px;
  top: 100px;
  }
#hamnav label { 
  display: inline-block; 
  color: white;
  font-size: 1.5em;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#hamitems a {
  display: flex;
  justify-content: flex-end;
	align-items: center;
  padding-right: 15px;
  width: 100%;
  height: 50px; 
 }
