/* (A) BREAK INTO VERTICAL MENU */
#hamitems a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid #333;
}

/* (B) SHOW HAMBURGER ICON */
#hamburger { display: none; }
#hamnav label { 
  display: inline-block; 
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }

@media screen and (min-width: 768px){
  /* (A) WRAPPER */
  #hamnav {
    width: 100%;
    background: #000;
  }

  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #af0d0d; }

  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }
}