#hamburger { display: none; } //hide checkbox
#hamitems { display: none;} //hide cont item
#hamnav input:checked ~ #hamitems {
  display: block;
  position: absolute;
  padding: 20px 0;
  width: 325px;
  height: 300px;
  background-color: white;
  right: 25px;
  top: 100px;
  }
#hamnav label { 
  display: inline-block; 
  color: white;
  font-size: 1.5em;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#hamitems{
  .item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    line-height: 55px;
  }
  a{
    text-decoration: none;
    font-size: 1.3rem;
    width: 140px;
    height: 60px;
    border-radius: 30px;
 }

 a:hover{
  background-color: $Yellow;
 }
}