.metiers{
    &__card{
        position: relative;
        height: 600px;
    }
    
    img{
        //position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 0;    
    }

    &__title{
        top: 390px;
        font-family: $header-font;
        font-weight: bold;
        font-size: 1.9rem;
        
    }

    &__text{
        top: 460px;
        line-height: 1.5em;
    }

    .centred{
        position: absolute;
        z-index: 5;
        left: 15px;
        right: 15px;
        //transform: translateX(-50%);
    }


} 

