.metiers{
    &__card{
        height: 600px;
        width: 100%;
        background-size: cover;
    }
    &--graphDesign{
        background-image: url(../../images/mobile/image-graphic-design.jpg);  
        color: $Dark_graphic_design_text;
    }
    &--photography{
        background-image: url(../../images/mobile/image-photography.jpg);  
        color: $Dark_photography_text;
    }

    &__title{
        //top: 390px;
        font-family: $header-font;
        font-weight: bold;
        font-size: 1.9rem;
        padding-bottom: 30px;
        padding-top: 400px;  
    }

    &__text{
        //top: 460px;
        line-height: 1.5em;
    }


} 

