/* --- Neutral --- */

$Very_dark_dark: hsl(212, 27%, 19%);
$Very_dark_grayish: hsl(213, 9%, 39%);
$Dark_grayish: hsl(232, 10%, 55%);
$Grayish: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

/* --- primary --- */

$Soft_red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark_graphic_design_text: hsl(167, 40%, 24%);
$Dark_photography_text: hsl(198, 62%, 26%);
$Dark_footer: hsl(168, 34%, 41%);
$Medium_footer: hsl(167, 44%, 70%);