
$main-font: 'Barlow', sans-serif;
$header-font: 'Fraunces', serif;

body{
  font-family: $main-font;
  
}

h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
  font-weight: bolder;
}

h1{
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  
  color: $white;
}

h2{
  font-size: 2.2rem;
  margin-bottom: 0.5em;

}